[Desktop Entry]
Name=Visual Studio Code - Insiders - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=code-insiders --no-sandbox --open-url %U
Icon=code-insiders
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode-insiders;
Keywords=vscode;Visual Studio Code;Code;vscode-insiders;Visual Studio Code - Insiders;Code-Insiders