[Desktop Entry]
Version=1.0
Type=Application
Name=Visual Studio Code - Insiders
Comment=Code Editing. Redefined.
Exec=code-insiders %F
Icon=code-insiders
Categories=TextEditor;Development;IDE;
StartupWMClass=Code - Insiders
StartupNotify=true
Keywords=vscode;Visual Studio Code;Code;vscode-insiders;Visual Studio Code - Insiders;Code-Insiders
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=code-insiders --new-window %F
Icon=code-insiders
